.banner {
    background-color:indianred;
}

.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lime;
    width: 90%;
    
}

.card {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 340px;
    height: 340px;
    color: white;
    padding: 10px;
    margin: 20px;
}



.banner h1 {
    color: red;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 209px;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 123px;
    height: auto;
}

.accordeon {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    padding-left: 50px;
    background-color: #FF6060;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
   
    
}

.menu-propos, title {
    color: white;

 
}

.star-filled {
    color: yellow;
  }
  
  .star-empty {
    color: black;
  }

  .error h1 {
    color: #FF6060;
    font-size: 263px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    
  }

  .error, p, a{
    text-align: center;
    margin-top: 0;

  }